# UGS2_api
UGC_2_API_PROJECT_NAME=movies
UGC_2_API_HOST=0.0.0.0
UGC_2_API_PORT=8000
UGC_2_WORKERS=3
DEBUG=True

# auth
AUTH_URL=http://nginx/api/v1/auth

# Mongo
MONGO_VERSION=4.4.23-rc0-focal
MONGO_HOST=mongo_test
MONGO_PORT=27017
MONGO_DB=ugc2_movies_test

# Sentry
SENTRY_DSN=your_sentry_dsn

#tests
SERVICE_URL=http://test_app:8000
