#UGS_api
UGC_2_API_PROJECT_NAME=movies
UGC_2_API_HOST=0.0.0.0
UGC_2_API_PORT=8000
UGC_2_WORKERS=3

#auth
DEBUG=true
AUTH_PORT=8000
AUTH_URL=http://nginx/api/v1/auth

#mongo
MONGO_HOST=mongo_test
MONGO_PORT=27017
MONGO_LOGIN=root
MONGO_PASSWORD=example

#logging
SENTRY_DSN=https://0c9f134d0c8e085046ec115158153d38@o4505646280343552.ingest.sentry.io/4505669581733888

#tests
SERVICE_URL=http://ugc_test:8000
